* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  text-align: center;
}

.answersDiv {
  display: flex;
  flex-direction: column;

  width: 200px;
  margin: 5px auto;
}

.answers {
  margin: 5px;
  cursor: pointer;
}

.checked {
  color: red;
}

#quizDiv {
  display: none;
}

.quizPages {
  display: none;
}

.correctAnswers {
  display: none;
}
