*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  height: 100vh;
  text-align: center;
  background-color: #f0f0c9;
  font-family: 'Merriweather', serif;
  letter-spacing: 0.5px;
}

#headDiv {
  display: flex;
  height: 100vh;
}

.title {
  color: #78b9e7;
  font-size: 85px;
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 0.5px;
  padding: 20px;
  text-shadow: #474747 3px 5px 2px;
}

.center {
  margin: auto;
}

button {
  outline: none;
  cursor: pointer;
}

#startBtn {
  border: 2px solid #78b9e7;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #124e78;
  color: #ffc220;
  font-family: 'Merriweather', serif;
  font-size: 25px;
  background-size: 200% auto;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-image: linear-gradient(to right, #124e78 0%, #78b9e7 50%, #124e78 100%);
  transition: 0.5s;
}

#startBtn:hover {
  background-position: right center;
}

.volume {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #474646;
  padding: 5px;
}

.by {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #474646;
  padding: 5px;
}

.quizPages {
  display: none;
  height: 100vh;
  color: #124e78;
}

.questions {
  width: 400px;
  font-size: 25px;
  font-weight: 500;
  padding: 40px 20px;
  border: 4px solid #124e78;
  background-color: #007dc6;
  color: #ffc220;
  border-radius: 10px;

  -webkit-animation-name: appear;
  animation-name: appear;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.answersDiv {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 20px auto;
  position: relative;
}

.answers {
  margin: 10px 0px;
  cursor: pointer;
  border: 2px solid #124e78;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  background-color: #ffc220;
  font-size: 18px;

  -webkit-animation-name: slide;
  animation-name: slide;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes slide {
  from {
    left: -50%;
  }

  to {
    left: 0;
  }
}

@-webkit-keyframes slide {
  from {
    left: -50%;
  }

  to {
    left: 0;
  }
}

.answersL {
  -webkit-animation-name: slideL;
  animation-name: slideL;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes slideL {
  from {
    right: -50%;
  }

  to {
    right: 0;
  }
}

@-webkit-keyframes slideL {
  from {
    right: -50%;
  }

  to {
    right: 0;
  }
}

.messages {
  display: none;
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  margin: auto;
}

.checked {
  background-color: #007dc6;
  color: #ffc220;
}

.correctAnswers {
  display: none;
}

/*OUTCOME*/
#wrongAnswers {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.wrongDiv {
  border: 1px solid #222;
  padding: 20px;
  margin: 10px;
}

.questionWrong {
  color: green;
}

.rightAnswer {
  color: blue;
}

.wrongAnswer {
  color: red;
}
